[submodule "GameEngineLearning/vendor/spdlog"]
	path = GameEngineLearning/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MyEngine/vendor/GLFW"]
	path = MyEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
